<a class="Card Card--single" href="#">
    <div class="Card-image"><img src="{{ user.picture.large }}" alt="{{ user.name.first }} {{ user.name.last }}"></div>
    <div class="Card-primary">
        <h2 class="Card-title">{{ user.name.first }} {{ user.name.last }}</h2>
        <p class="Card-description">{{ user.jobTitle }}, {{ user.companyName }}</p>
    </div><!--/.Card-primary-->
</a>
